doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    link(rel='icon', type='image/png', href='https://www.google.com/images/icons/product/pagespeed-64.png')
    title 😱 PageSpeed InSlides Error
    link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.indigo-pink.min.css')
    style
      include main.css
    script(defer, src='https://code.getmdl.io/1.2.1/material.min.js')
  body
    h1 😱 PageSpeed InSlides Error
    pre
      code #{error}