* {
  box-sizing: border-box;
}

body {
  min-height: initial;
  padding: .5rem;
  width: initial;
}

form div {
  background-color: #eee;
  margin: .5rem;
  padding: 1rem;
}

button {
  margin-right: .5rem !important;
}

.loading {
  animation: spin 2s ease-in-out infinite;
  display: inline-block;
}
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
